
body {
    background-image: url("./images/space.jpg");
}

header {
    font-size: 60px;
    color: yellow;
    text-align: center;
}

p {
	font-size: 40px;
	color: yellow;
	text-align: center
}

#learn {
    display: block;
    margin: auto;
    margin-top: 10%;
    border: solid yellow;
    background-color: #848383;
    font-weight: bold;
    font-size: 30px;
    animation-name: rotate;
    animation-duration: 4s;
    animation-iteration-count: 2;
}

@keyframes rotate {
    0% {transform: rotateY(0deg);}
    25% {transform: rotateY(90deg);}
    50% {transform: rotateY(180deg);}
    75% {transform: rotateY(270deg);}
    100% {transform: rotateY(360deg);}
}